#Delly {
    color: white;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
    
    
    .section6 {
        height: 100vh;
        background-image: url('/public/Media/Header.png');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Playfair Display", serif;
        font-weight: bold;


        h1 {  
            text-align: center;
            font-size: 4rem;
            padding-top: 350px;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            font-size: 2rem;
            padding: 30px;
            line-height: 40px;
        }    
    }

    .section7 {
        color: black;
        height: 100vh;
        font-family: "Playfair Display", serif;
        background-image: url('/public/Media/DellyDelly.png');
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            text-align: center;
            font-size: 4rem;
            padding-top: 250px;
            margin-bottom: 20px;
        }

        p {
            padding: 30px;
            text-align: center;
            font-size: 2rem;
            padding: 30px;
            line-height: 40px;
        }

        .Appstore {
            width: 250px;
            border-radius: 120px;
            margin-left: 840px;

        }

        .logos {
            padding: 60px 0;
            overflow: hidden;
            
            
            .logos-slide {
                white-space: nowrap;
                display: inline-block;
                margin-top:20px ;
                animation: 5s Slide infinite linear;
                @keyframes Slide {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-100);
                    }
                }  
                
                img {
                    height: 100px;
                    margin: 0 40px;
                    padding: 15px;
                }
            }
        }    
    }

    .section8 {
        height: 100vh;
        font-family: "Playfair Display", serif;
        background-image: url('/public/Media/HerdadeMachado.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            text-align: center;
            font-size: 2.5rem;
            padding-top: 300px;
            margin-bottom: 20px;
        }
        
        p {
            text-align: center;
            font-size: 2rem;
            margin-left: 10px;
            margin-bottom: 20px;
        }
        
        
        
    }
}