#Delly {
    color: white;
    background-color: #C3E4F3;

    .section3 {
        h1 { 
            width: 980px;
            height: 10px;
            padding: 200px;
            font-size: 100px;
            text-align: center;
            outline: 1px solid red;
        }

        p {
            padding-top: 30px;
            font-size: 2rem;
            text-align: center;
            margin-left: 50px;
            margin-right: 50px;
            margin-bottom: 100px;
            outline: 1px solid red;
        }
    }
    
    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100);
        }
    }

    .logos {
        padding: 60px 0;
        overflow: hidden;
        
        .logos-slide {
            background: #f2f2f2;
            white-space: nowrap;
            display: inline-block;
            animation: 5s slide infinite linear;
            margin-top:130px ;
            
            img {
                height: 100px;
                margin: 0 40px;
                padding: 15px;
            }
        }
    }

}