.section1 {
    width: 1000px;
    height: 600px;
    outline: 2px solid white;
    margin-top: 100px;

    h1 {
        font-size: 2rem;
        padding-bottom: 20px;
    }

    p {
        font-size: 2rem;
    }

    .img1 {
        width: 900px;
        height:600px;
    }
    
}



.section2 {
    width: 1000px;
    height: 600px;
    outline: 2px solid white;

    .img2 {
        width: 900px;
        height:600px;
    }
}