@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/*Normal Laptop Display*/
.header {
    font-family: "Playfair Display", serif;
    position: fixed;
    top: 20px;
    left: 360px;
    width: 50%;
    padding: 20px 120px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
        ); 
        border-radius: 100px;
        animation: fadeDown 2s;
        
        .logo {
            color: white;
            font-family: 'poppins',serif;
            font-size: 2rem;
            text-align: center;
            width: 200px;
            height: 40px;
            background: linear-gradient(to right, rgb(56, 189, 248), rgb(59, 130, 246));
            border-radius: 100px;
            padding-top: 2px;
            
    }
    
    nav {
        ul li  {
            font-size: 2rem;
            font-family: 'poppins',serif;
            display: inline-block;
            padding: 0px 20px;    
        }
    }
}

/*Large Monitor Display*/
@media (min-width: 3840px) {
    .header {
        position: fixed;
        top: 25px;
        left: 25vw;  
        right: 25vw;
        min-width: 50vw;    
    } 
}

/*Tablet Display*/


/*Smartphone Display*/




